* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc-body {
    margin-top: 25px;
    min-height: 800px;
    width: 60vw;
    background-color: purple;
    border-radius: 50px;
}

.section-output {
    width: 80%;
    height: 150px;
    background-color: turquoise;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 8px;
    margin-top: 50px;
    font-size: 32px;
    text-align: right;
}

#display {
    font-size: 88px;
    text-align: right;
}

.section-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.row {
    display: flex;
}

.button {
    background-color: black;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: 15px;
    font-size: 5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}