* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

button {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.nav-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-left img {
    max-width: 150px;
    max-height: 50px;
    cursor: pointer;
}

.nav-left ul {
    list-style-type: none;
    cursor: pointer;
}

.nav-left li {
    float: left;
    margin: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    padding: 15px;
    font-size: 18px;
    background-color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 600px;
    padding: 25px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,0.1);
}

.dropdown-section {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 15px;
    border-radius: 8px;
    align-items: center;
}

.dropdown-section:hover {
    background-color: rgb(255, 94, 201, .2);
    color: rgb(255, 94, 201);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .text {
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}

.dropdown-content .title {
    font-weight: bold;
    font-size: 24px;
}

.dropdown-content .description {
    font-size: 16px;
    color: grey;
}

.right-arrow {
    margin-left: 5rem;
    transition: ease .25s transform;
    color:rgb(255, 94, 201, 0);
}

.dropdown-section:hover .right-arrow {
    transform: translateX(100%);
    color:rgb(255, 94, 201);
}

.dropdown:hover .dropdown-content {
    display: block;
}



.nav-right {
    display: flex;
    align-items: center;
}

.nav-right i {
    padding: 10px;
    margin: 5px;
}

.nav-right ul {
    list-style-type: none;
}

.nav-right li {
    float: right;
    margin: 5px;
}

.sign-in {
    padding: 10px 20px;
}


.sign-up {
    background-color: rgb(255, 94, 201);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}

.sign-up:hover {
    background-color: rgb(255, 94, 201, .7);
}

.home-header-container {
    background: rgb(223, 202, 228);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0px;
}

.home-image-text {
    padding-left: 15px;
}

.main-image {
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
}

button {
    border: none;
}

.main-design-list {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

select {
    border: 1px solid grey;
    border-radius: 8px;
    width: 125px;
    height: 35px;
}

select:hover {
    border: 2px solid rgb(255, 94, 201, .7);
}

.design-filter-menu  {
    list-style-type: none;
    display: flex;
}

.design-filter-menu li {
    margin: 15px;
}

.design-filter-button {
    display: flex;
    align-items: center;
    font-size: 100%;
    justify-content: space-evenly;
    width: 100px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 8px;
    height: 35px;
}

.filter-icon {
    max-height: 25px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-item {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.card-item img {
    width: 100%;
    height: auto;
    border-radius: 8px
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-left {
    display: flex;
    align-items: center;
    list-style-type: none;
    float: left;
}

.title-right {
    display: flex;
    align-items: center;
    list-style-type: none;
    float: right;
}

.spacer5 {
    width: 5px;
}

.design-logo {
    background-color: rgb(255, 94, 201);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
}

.design-logo:hover {
    cursor: pointer;
}

.fa-heart:hover {
    color: rgb(255, 94, 201);
    cursor: pointer;
}

.fa-eye:hover {
    color: rgb(255, 94, 201);
    cursor: pointer;
}

.footer-container {
    background-color: rgb(244, 244, 244);
    padding: 25px;
}

.company-info img {
    width: 150px;
    height: auto;
}


.social-links {
    margin-top: 15px;
    margin-bottom: 15px;

}
.social-links i {
    margin: 5px;
    font-size: 28px;
}

.footer-sitelink-container {
    margin-top: 15px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.footer-sitelink-container li {
    margin: 10px;
}


.foot-header {
    text-transform: uppercase;
    font-weight: bold;
}